<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div><span><%= userInfo.userid %></span>님 환영합니다!</div>
        <br />
        <br />
        <div><span>비밀번호: <%= userInfo.userpw %></span></div>
        <div><span>이름: <%= userInfo.username %></span></div>
        <div><span>나이: <%= userInfo.userage %></span></div>
    </body>
</html>
