.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.header1{
    width: 100%;
    height: 25px;
    position: absolute;
    background-color: rgb(209, 209, 209);
    align-items: center;
    display: flex;
    font-weight: bold;
}

.logo1{
    width: 50px;
    height: 25px;
    background-color: rgb(209, 209, 209);
}

.MENU1{
    width: 50px;
    height: 25px;
    background-color: rgb(209, 209, 209);
    left: 500px;
}

.MENU2{
    width: 50px;
    height: 25px;
    background-color: rgb(209, 209, 209);
    left: 150px;
}

.MENU3{
    width: 50px;
    height: 25px;
    background-color: rgb(209, 209, 209);
    left: 250px;
}

.header2{
    width: 100%;
    height: 25px;
    position: absolute;
    background-color: rgb(209, 209, 209);
    /* flex-wrap: nowrap; */
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}

.MENU4{
    width: 50px;
    height: 25px;
    background-color: rgb(209, 209, 209);
}

.MENU5{
    width: 50px;
    height: 25px;
    background-color: rgb(209, 209, 209);
}

.MENU6{
    width: 50px;
    height: 25px;
    background-color: rgb(209, 209, 209);
}

.header3{
    width: 100%;
    height: 25px;
    position: absolute;
    background-color: rgb(209, 209, 209);
    /* flex-wrap: nowrap; */
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.MENU7{
    width: 50px;
    height: 25px;
    background-color: rgb(209, 209, 209);
}

.MENU8{
    width: 50px;
    height: 25px;
    background-color: rgb(209, 209, 209);
}

.MENU9{
    width: 50px;
    height: 25px;
    background-color: rgb(209, 209, 209);
}