<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/socket.io/socket.io.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>실습1 Socket 연습</h1>
        <h2>Hello World!</h2>
        <br />
        <button type="button" onclick="hello()">hello</button>
        <button type="button" onclick="study()">study</button>
        <button type="button" onclick="bye()">bye</button><br />
        <p id="form-data"></p>

        <script>
            const socket = io();
            const p = document.querySelector('#form-data');
            function hello() {
                socket.emit('hello', { name: 'client', message: 'hello' });
            }
            socket.on('rtHello', (arg) => {
                p.textContent = `${arg.name} : ${arg.message}`;
            });
            function study() {
                socket.emit('study', { name: 'client', message: 'study' });
            }
            socket.on('rtStudy', (arg) => {
                p.textContent = `${arg.name} : ${arg.message}`;
            });
            function bye() {
                socket.emit('bye', { name: 'client', message: 'bye' });
            }
            socket.on('rtBye', (arg) => {
                p.textContent = `${arg.name} : ${arg.message}`;
            });
        </script>
    </body>
</html>
