.main{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    overflow-y: scroll;
}

.text:hover{
    width: 300px;
    height: 300px;
    transform: translate(300px 300px);
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}