body{
    margin: 0px;
    background-color: blanchedalmond;
    height: 100vh;
}

.KDT{
    background-color: blue;
    width: calc(100vw / 10);
    height: calc(100vw / 10);
    color: white;
    margin: auto;
    text-align: center;
    line-height: calc(100vw / 10);
    margin-top: calc(50vh - (100vh / 20));
}